<style>
    .footer {
        position: relative;
        padding: 1.25rem 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #404040;
        font-size: 18px;
    }

    .footer .info {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .footer .block {
        padding: 1.25rem 0rem;
        width: 20%;
        min-width: 18.75rem;
        text-align: center;
    }

    .footer .title {
        color: #438195;
    }

    .footer .content {
        margin: 0rem;
    }

    #social i {
        font-size: 2rem;
        color: #404040;
    }

    #social .content {
        width: 100%;
        height: 72px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    #social .content .social_icon {
        color: #404040;
    }

    #social .content .social_icon:hover {
        color: #438195;
    }
    
    #cc {
        text-align: right;
    }
    #contact {
        text-align: left;
    }

    @media screen and (max-width: 1124px){
        #cc {
            text-align: left
        }
    }

    @media screen and (max-width: 749px){
        #contact, #social, #cc {
            text-align: center;
        }
        #social .content {
            justify-content: space-between;
        }
        .footer .info {
            justify-content: center;
        }
    }
</style>

<section class="footer">
    <div class="info">
        <div id="contact" class="block">
            <h4 class="title">CONTACT</h4>
            <p class="content"><span style="color: #438195;">Email: </span>w.graham@verizon.net</p>
        </div>
        <div id="social" class="block">
            <h4 class="title">SOCIAL</h4>
            <div class="content">
                <a class="social_icon" href="https://www.instagram.com/williegraham1000"><i class="fa-brands fa-instagram fa-2x"></i></a>
                <a class="social_icon" href="http://www.facebook.com/williegraham1"><i class="fa-brands fa-facebook fa-2x"></i></a>
                <a class="social_icon" href="https://www.threads.com/@williegraham1000"><i class="fa-brands fa-threads fa-2x"></i></a>
            </div>
        </div>
        <div id="cc" class="block">
            <p class="content" style="color: #438195;">©2026 Willie Graham, LLC</p>
            <p class="content" style="color: #438195;">All Rights Reserved.</p>
        </div>
    </div>
    <div style="padding: 3.125rem;">
        <img src="/assets/images/logo.png" alt="" class="d-inline-block align-text-top" style="width: 100%; max-width: 31.25rem;">
    </div>
    <p class="content">Website Designed By <a style="color:#438195;" href="https://www.github.com/kitchensjn">James Kitchens</a></p>
</section>